.reactdiv {
  display: flex !important;
  margin-top: 70px !important;
}
.mainwrapper {
  width: 80vw !important;
  text-align: center;
  margin: 0 auto !important;
}
.wrapper {
  text-align: center !important;
}
.smallblutic {
  margin-bottom: 10% !important;
}
.bigdivdash {
  margin-bottom: 6% !important;
}
.bigbox {
   background-color:#f5f5f5 !important;
   border-radius: 10px !important;
   padding-bottom: 10px !important; 
} 
.biggest {
  width: 100% !important;
}
.addempicon {
  color: #4fc3f7 !important;
}
.listtypeo {
  font-size: 15px !important;
}
.icon {
  font-size: 10px !important;
}
.bluetac {
  font-weight: bolder !important;
}
.person {
  color: #e0e0e0 !important;
}
.deleteicon {
  margin-top: 10px !important;
}
.nextbtn {
  background-color: #4fc3f7 !important;
}
.linkskip {
  color: #339dca !important;
}

@media only screen and (max-width: 700px) and (min-width: 300px){
  .mainwrapper {
    width: 100vw !important;
    text-align: center;
    margin: 0 auto !important;
  }
  .bigbox {
    width: 100% !important;
    background-color:#f5f5f5 !important;
    border-radius: 10px !important;
    padding-bottom: 10px !important; 
 } 

}




